.l-footer{
  padding:60px 20px;
  background: $color-shark;
  // margin-top: 70px;
  color: $color-slate-gray;
}

.l-footer__container{
  max-width: 960px;
  margin: 0px auto;
}


.c-menu--footer{
  flex-direction: column;
  align-items: center;
  padding: 20px 10px 30px 10px;

  & .c-menu__link {
    padding: 20px;
    text-transform: uppercase;
    color:$color-slate-gray;
  }

  & .c-menu__link:hover {
    color: lighten($color-slate-gray, 35%);
  }

  @media screen and (min-width: conf($configuration-breakpoints, 'tablet')) {
    flex-direction: row;
    justify-content: center;
    padding-bottom: 30px;

      & .c-menu__link {
        padding: 0 10px;
      }
  }
}

.c-social {
  padding-bottom: 40px;
  font-size: 26px;
}

.c-social__icon{
  padding: 0 30px;
}

.c-social__icon a {
  color: $color-slate-gray;
}

.c-social__icon a:hover {
    color: lighten($color-slate-gray, 35%);
}


.c-developers{
  border-top: 1px solid $color-slate-gray;
  padding-top:40px;
  text-align:center;
}

.c-developers__title{
  padding-bottom: 40px;
}

.c-developers__info{
  padding: 20px;
  @media screen and (min-width: conf($configuration-breakpoints, 'tablet')) {
      padding: 0 40px;
  }
}

.c-developers__info img{
  border-radius: 50%;
  max-width: 100px;
}

.c-developers__info p{
  padding-top: 20px;
}
