
.l-header {
  height: $header-height;
  background-color: $color-shark;
  color: white();

  @include element('container') {
    @extend %flex;
    width: $header__container-width;
    @include center;
    @extend %flex-direction;
  }
}