
.l-header {
  min-height: conf($configuration-header, 'min-height');
  background-color: $color-shark;

  @include element('container') {
    @extend %flex;
    min-height: inherit;
    width: conf($configuration-header, 'container-width');
    @include center;
    @include justify-content(space-around);
  }
}