.c-month {
	background: $color-portage;
	width: 3rem;
	height: 3rem;
	display: inline-block;
	border: solid $color-hawkes-blue 5px;
	border-radius: 50%;
	text-align: center;
	color: $color-white;
	font-size: .75rem; // Not precise, just a guess
	// padding-top: 25px
	// line-height: 1.5rem;
}
