.c-archive-posts {
	font-family: $roboto;
}

.c-archive-posts__year {
	font-size: 1.3rem;
	color: $color-cadet-blue;
	text-align: center;
	letter-spacing: 3px;
	margin: 1rem 1rem;
}

.c-archive-posts__entry {

}

.c-archive-posts__image {
	// IMAGE HEIGHT 121PX
	// IMAGE WIDTH 290PX
}

.c-archive-posts__title {

}

