
.c-author {
  position: relative;
  @include flex;

    @include e('img') {
      $size: conf($configuration-comments, 'size-c-author__img');
      width: $size;
      height: $size;
      @include border-radius(50%);
      align-self: center;

        @include m('addComment') {
          @extend %hidden;
          align-self: flex-start;

          @media screen and (min-width: conf($configuration-breakpoints, 'desktop')) {
            display: initial;
          }
        }
    }

    @include m('addComment') {
      padding-top: 20px;
    }

    @include e('span') {
      display: block;
      padding: 10px;

      @include m('fullname') {
        @extend %smallCaps;
      }

      @include m('timestamp') {
        font-size: .7em;
        @media screen and (min-width: conf($configuration-breakpoints, 'desktop')) {
          @include absolute(right 0 top 0);
        }
      }
    }

    @include e('details') {
      @include m('addComment') {
        width: 90%;
      }
    }
}
