.c-comment {
	display: flex;
  position: relative;
  @include e(img){
  	@include border-radius(50%);
  	max-width: 50px;
  	margin: 0 20px 10px 10px;
  }
  @include e(body){
  	@include e(author){
			margin: 0 0 1em;
  	}
  	@include e(subject){
  		font-weight: 700;
  		margin: 0 0 .85em;
  	}
  	@include e(message){
  		margin: 0 0 20px;
  	}
  }
  @include e(details){
  	@include e(timestamp){
  		position: absolute;
    	right: 0;
    	top: 0;
    	font-size: .8em;
  	}
  }
  @include e(view-replies){
  	position: absolute;
    right: 0;
    bottom: 0;
  }
}