
.c-logo {

  @extend %flex;
  @extend %flex-direction;
  align-self: center;
  color: $color-logo;

  @include element('img') {
    width: 60px;
    margin-right: 20px;
  }

  @include element('title') {
    font-size: $base-fontSize;
    margin: 0;
    align-self: center;
  }

  @include element('span') {

    @include modifier('acronym') {
      font-family: $robotoSlab;
      font-size: $fontSize-logo;
    }

    @include modifier('motto') {
      display: block;
      font-size: $fontSize-logo-motto;
      margin-top: 5px;
    }
  }

  @include element('strong') {
    @include modifier('acronym') {
      color: $color-picton-blue;
    }
    @include modifier('site') {
      color: $color-logo-site;
    }
  }
}