.c-month {
	font-family: $roboto;
	background: $color-portage;
	width: 3.625rem;
	height: 3.625rem;
	display: block;
	position: relative;
	// z-index: 50;
	margin: 0 auto;
	border: .3125rem solid $color-hawkes-blue;
	border-radius: 50%;
	text-align: center;
	color: $color-white;
	font-size: .75rem; // Not precise, just a guess
	// padding-top: 25px
	line-height: 3rem;
	&:before { // for the white border
		content: " ";
		position: absolute;
		z-index: -1;
		width: 4.4rem;
		height: 4.4rem;
		background: $color-white;
		border-radius: 50%;
		top: -11px;
		left: -11px;
		// right: 15px;
		// bottom: 15px;
	}
}

body {
	// background-color: navy;
}
