.c-search{
  position: relative;
  line-height: 40px;
  margin: 30px 0;

  .c-search__input input{
    padding: 20px 5px 20px 50px;
    width: 100%;
    height: 50px;
    border: 1px solid $color-geyser;
    background: $color-catskill-white;
    font-size:22px;
    color: $color-slate-gray;
    
    &::-webkit-input-placeholder {
      color: $color-submarine;
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: $color-submarine;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
      color: $color-submarine;  
    }

    &:-ms-input-placeholder {  
      color: $color-submarine;  
    }

    @include border-radius(3px);

    &:focus{
    outline:none;
    }
  }
  .c-search__icon{
    position: absolute;
    font-size:20px;
    top:10%;
    left:15px;
    color: $color-submarine;
  }
}
