.l-header, .l-header__container, .c-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.c-logo {
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.c-navigation--header .c-navigation__link--active:after {
  margin-left: auto;
  margin-right: auto; }

.c-themesSwitch__input--hidden, .c-themesSwitch__input--hidden:checked ~ .l-list {
  display: none; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body {
  height: 100%; }

a {
  text-decoration: none; }

*, *:after, *:before {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem; }

.l-header {
  min-height: 100px;
  background-color: #1E2226;
  color: white; }
  .l-header__container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }

.l-footer {
  padding: 60px 20px;
  background: #1E2226;
  margin-top: 70px;
  color: #738494; }

.l-footer__container {
  max-width: 960px;
  margin: 0px auto; }

.c-menu--footer {
  padding-bottom: 30px; }

.c-menu--footer .c-menu__link {
  text-transform: uppercase;
  color: #738494;
  padding: 0 10px; }

.c-social {
  padding-bottom: 40px;
  font-size: 26px; }

.c-social__icon {
  padding: 0 30px; }

.c-social__icon a {
  color: #738494; }

.c-developers {
  border-top: 1px solid #738494;
  padding-top: 40px;
  text-align: center; }

.c-developers__title {
  padding-bottom: 40px; }

.c-developers__info {
  padding: 0 40px; }

.c-developers__info img {
  border-radius: 50%; }

.c-developers__info p {
  padding-top: 20px; }

.c-menu {
  display: flex;
  justify-content: center; }

.l-list {
  display: flex;
  justify-content: center; }

.c-logo {
  align-self: center;
  color: #cceef6; }
  .c-logo__img {
    width: 60px;
    margin-right: 20px; }
  .c-logo__title {
    align-self: center; }
  .c-logo__span--acronym {
    font-family: "Roboto Slab", serif;
    font-size: 1.8rem; }
  .c-logo__span--motto {
    display: block;
    font-size: 0.85em;
    margin-top: 5px; }
  .c-logo__strong--acronym {
    color: #49C4E0; }
  .c-logo__strong--site {
    color: white; }

.c-navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
  .c-navigation--header {
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    align-items: flex-end; }
    .c-navigation--header .c-navigation__link {
      position: relative;
      padding: 15px 30px;
      color: rgba(255, 255, 255, 0.5); }
    .c-navigation--header .c-navigation__link:hover, .c-navigation--header .c-navigation__link--active {
      color: rgba(255, 255, 255, 0.9); }
    .c-navigation--header .c-navigation__link--active:after {
      content: '';
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background: #49C4E0; }

.c-themesSwitch {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  align-self: center;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }
  .c-themesSwitch__img {
    width: 24px; }

.c-month {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #7C7DF0;
  width: 3.625rem;
  height: 3.625rem;
  display: block;
  position: relative;
  margin: 0 auto;
  border: 0.3125rem solid #DEDEFC;
  border-radius: 50%;
  text-align: center;
  color: #FFFFFF;
  font-size: .75rem;
  line-height: 3rem; }
  .c-month:before {
    content: " ";
    position: absolute;
    z-index: -1;
    width: 4.4rem;
    height: 4.4rem;
    background: #FFFFFF;
    border-radius: 50%;
    top: -11px;
    left: -11px; }
  @media (min-width: 700px) {
    .c-month {
      margin: 0;
      left: -2rem; } }

.c-archive-posts {
  color: #3F444A;
  z-index: -3; }
  @media (min-width: 700px) {
    .c-archive-posts {
      border-left: solid #DAE2F0; } }

.c-archive-posts__header {
  font-size: 2.5rem;
  font-weight: 300;
  text-align: center;
  color: #3F444A;
  margin-top: 3rem; }

.c-archive-posts__year {
  font-size: 1.3rem;
  color: #ACB9C8;
  text-align: center;
  letter-spacing: .1875rem;
  margin-top: 6rem;
  margin-bottom: 2rem; }
  @media (min-width: 700px) {
    .c-archive-posts__year {
      text-align: left;
      left: -2rem;
      position: relative;
      background: #FFFFFF;
      padding-bottom: 2.6rem;
      margin-bottom: 0;
      margin-top: 3rem; } }

.c-archive-posts__entry {
  text-align: center;
  width: 18.126rem;
  margin: 0 auto;
  position: relative;
  top: -1.7rem;
  z-index: -2; }
  @media (min-width: 700px) {
    .c-archive-posts__entry {
      width: 500px margin 0 auto;
      top: -3.7rem; } }

.c-archive-posts__image {
  max-width: 18.126rem;
  margin-bottom: .7rem; }
  @media (min-width: 700px) {
    .c-archive-posts__image {
      max-width: 35rem; } }

.c-archive-posts__title {
  font-weight: 700;
  line-height: 1.5625rem;
  margin-bottom: 3rem;
  text-align: left;
  max-width: 18.126rem; }
  @media (min-width: 700px) {
    .c-archive-posts__title {
      margin-bottom: 2rem; } }

/*# sourceMappingURL=main.css.map */
