/// Block Element
/// @access public
/// @param {String} $element - Element's name

@mixin element($element) {
  &__#{$element} {
    @content;
  }
}

/// @alias element

@mixin e($element) {
  @include element($element) {
    @content;
  }
}


/// Block Modifier
/// @access public
/// @param {String} $modifier - Modifier's name

@mixin modifier($modifier) {
  &--#{$modifier} {
    @content;
  }
}

/// @alias element

@mixin m($modifier) {
  @include modifier($modifier) {
    @content;
  }
}


/// Generate auto margins
@mixin center() {
  margin-left: auto;
  margin-right: auto;
}


/// Generate vendors prefix for a particular property
///
/// @param {LIST} $map - A map of declarations
/// @param {LIST} $vendors - Default value dumps all prefixes
///
/// @example
///   #element {
///     @include prefix((transform, scale(1.5)), webkit o);
///   }
///

@mixin prefix($map, $vendors: webkit moz ms o) {
  @each $prop, $value in $map {
        @if $vendors {
          @each $vendor in $vendors {
            #{"-" + $vendor + "-" + $prop}: #{$value};
          }
        }
        // Dump regular property anyway
        #{$prop}: #{$value};
  }
}

/// Generate rounded borders
///
/// @param {Number} $radius - The shorthand to set the four properties
///                           border-top-left-radius, border-top-right-radius,
///                           border-bottom-right-radius and
///                           border-bottom-left-radius respectively.

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

/// Generate a positioned element
///
/// @param {String} $position - The position system
/// @param {List} $args - A list of properties

@mixin position($position, $args: null) {

  position: $position;

  @if ($args) {
    @each $o in top right bottom left {
          $i: index($args, $o);

      @if $i and $i + 1 <= length($args) and type-of(nth($args, $i + 1)) == number  {
            #{$o}: nth($args, $i + 1);
      }
    }
  }
}


/// Generate an absolute positioned element
///
/// @param {List} $args [null] - A list of properties (if any)

@mixin absolute($args: null) {
  @include position(absolute, $args);
}


/// Generate a fixed positioned element
///
/// @param {List} $args [null] - A list of properties (if any)

@mixin fixed($args: null) {
  @include position(fixed, $args);
}


/// Generate a relative positioned element
///
/// @param {List} $args [null] - A list of properties (if any)

@mixin relative($args: null) {
  @include position(relative, $args);
}


/// Generate a cross browser block-level flex box

@mixin flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

/// Generate a cross browser inline-level flex box

@mixin inline-flex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

/// Flexbox Direction
/// @param {String} $value [row] - row | row-reverse | column | column-reverse
/// http://w3.org/tr/css3-flexbox/#flex-direction-property

@mixin flex-direction($value: row) {
  @if ($value == row-reverse) {
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
  } @else if $value == column {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
  } @else if $value == column-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: vertical;
  } @else {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
  }
  -webkit-flex-direction: $value;
  -moz-flex-direction: $value;
  -ms-flex-direction: $value;
  flex-direction: $value;
}

// Flexbox Justify Content
/// @param {String} $value [flex-start] - flex-start | flex-end | center | space-between | space-around
/// http://w3.org/tr/css3-flexbox/#justify-content-property

@mixin justify-content($value: flex-start) {
  @if ($value == flex-start) {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
  } @else if $value == flex-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
  } @else if $value == space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
  } @else if $value == space-around {
    -ms-flex-pack: distribute;
  } @else {
    -webkit-box-pack: $value;
    -ms-flex-pack: $value;
  }
  -webkit-justify-content: $value;
  -moz-justify-content: $value;
  justify-content: $value;
}

// Flexbox Align Items
/// @param {String} $value [stretch] - flex-start | flex-end | center | baseline | stretch
// http://w3.org/tr/css3-flexbox/#align-items-property

@mixin flex-align-items($value: stretch) {
  @if ($value == flex-start) {
    -webkit-box-align: start;
    -ms-flex-align: start;
  } @else if $value == flex-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
  } @else {
    -webkit-box-align: $value;
    -ms-flex-align: $value;
  }
  -webkit-align-items: $value;
  -moz-align-items: $value;
  align-items: $value;
}

//Tranform Element

@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}
// rotate transform
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}
