// -----------------------------------------------------------------------------
 // This file contains all application-wide Sass variables.
 // -----------------------------------------------------------------------------




// ----------------------------------------------------------------------
// Font Families
// ----------------------------------------------------------------------

$roboto:      Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$robotoSlab: 'Roboto Slab', serif;


$base-fontSize: 1rem;
$fontSize-logo: $base-fontSize * 1.8;
$fontSize-logo-motto: .85em;

// ----------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------

$color-shark: #1E2226;
$color-catskill-white: #F2F5F9;
$color-portage: #7C7DF0;
$color-periwinkle-gray: #DAE2F0;
$color-picton-blue: #49C4E0;
$color-slate-gray: #738494;
$color-viking: #71C9DA;
$color-viking: #71C9DA;
$color-heather: #c4ced7;
$color-trout: #4f565f;
$color-morning-glory: #9cd0dc;
$color-gothic: #6f97a9;
$color-half-baked: #94c8d4;

$color-logo: lighten($color-picton-blue, 30%);
$color-logo-site: lighten($color-picton-blue, 50%);


// ----------------------------------------------------------------------
// Widths & Heights
// ----------------------------------------------------------------------

$min-width: 320px;
$max-width: 960px;

$header-height: 100px;
$header__container-width: 960px;
