// -----------------------------------------------------------------------------
 // This file contains all application-wide Sass variables.
 // -----------------------------------------------------------------------------




// ----------------------------------------------------------------------
// Font Families
// ----------------------------------------------------------------------

$roboto:      Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$robotoSlab: 'Roboto Slab', serif;


// ----------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------

$color-shark: #1E2226;
$color-catskill-white: #F2F5F9;
$color-portage: #7C7DF0;
$color-periwinkle-gray: #DAE2F0;
$color-picton-blue: #49C4E0;
$color-slate-gray: #738494;
$color-viking: #71C9DA;
$color-mako: #3F444B;


// ----------------------------------------------------------------------
// Width
// ----------------------------------------------------------------------

$min-width: 320px;
$max-width: 1200px;
